<h1>Taluka Record </h1>
Taluka Name :-<%= @taluka.name %><br>
Dist Name :-<%= @taluka.dist.name %><br>
State Name:- <%= @taluka.state.name %><br>

<%= link_to "Back", talukas_path, class: "btn btn-outline-success" %>